@import "tailwindcss";

@theme {
  /* Aquí definimos tus colores de marca para que estén disponibles en todo el proyecto */
  --color-primary: oklch(0.586 0.253 247.07); /* Azul Médico */
  --color-clinical-bg: oklch(0.985 0.001 106.42); /* Slate 50 aproximado */
  
  --radius-xl: 1.25rem;
  --radius-2xl: 2rem;
  --radius-3xl: 3rem;
}

/* Configuraciones de base para Salud V2 */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: white;
    color: var(--color-slate-900);
    /* Optimizamos el renderizado de texto para pantallas médicas */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Clases de utilidad personalizadas (opcional) */
@utility glass-morphism {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
}